Task 2

-Identify the city with the highest number of restaurants.

-Calculate the average rating for restaurants in each city.

-Determine the city with the highest average rating.

In [2]:
import pandas as pd


data = pd.read_csv("dataset .csv")

data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [68]:
data.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270

Identify the city with the highest number of restaurants

In [28]:
city_with_most_restaurants =data['City'].value_counts().head(1)
city_with_most_restaurants

City
New Delhi    5473
Name: count, dtype: int64

Calculate the average rating for restaurants in each city.

In [52]:
average_ratings = data.groupby('City')['Aggregate rating'].mean()
average_ratings

City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

Finding Average Rating for a particual city  example

In [72]:
average_ratings["Hyderabad"]

np.float64(4.344444444444445)

Determine the city with the highest average rating.

In [64]:
highest_avg_rating=average_ratings.max()
city_with_highest_avg_rating = average_ratings[average_ratings==highest_avg_rating]

city_with_highest_avg_rating #Result

City
Inner City    4.9
Name: Aggregate rating, dtype: float64

The restaurants of this inner city are actually from Africa

In [57]:
data[data["City"]=="Inner City"]

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
9457,6501534,Cube - Tasting Kitchen,189,Inner City,"24 Albrecht Road, Maboneng Precinct, City and ...",City and Suburban,"City and Suburban, Inner City",28.060192,-26.203278,"European, Contemporary",...,Rand(R),No,No,No,No,4,4.9,Dark Green,Excellent,441
9458,18339373,Urbanologi,189,Inner City,"1 Fox Street, Marshalltown, Inner City, Johann...",Marshalltown,"Marshalltown, Inner City",28.031863,-26.207091,Tapas,...,Rand(R),No,No,No,No,4,4.9,Dark Green,Excellent,194